<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <title>DX Pass</title>
        <link rel="stylesheet" href="static/DX_Pass.css" />
        <script src="/static/qr.js"></script>
        <link
            rel="icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
            type="image/x-icon"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        />
    </head>
    <body>
        <div id="DX_Pass">
            <div id="DX_Pass_img">
                <img alt="bg" />
                <img id="chara-img" alt="chara" />
                <img alt="header" />
                <img src="static/background.png" alt="background" />
            </div>
            <img
                id="ratingImage"
                src=""
                alt="DX Rating Image"
                style="display: none"
            />
            <div id="formatted-time"></div>
            <div id="qrcode"></div>
            <div id="friend_code"></div>
            <div id="friend_name"></div>
            <div id="nickname">Loading...</div>
            <div id="rating">Loading...</div>
            <div id="card_info">
                <div id="card_number"></div>
                <span>[maimaiDX]</span>
                <div id="card_version"></div>
            </div>
        </div>
        <script>
            // 从 Cookie 中获取指定名称的值
            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(";").shift();
                return null; // 不存在时返回 null
            }

            // 只显示的 Cookie 列表 (这些 Cookie 才会显示在页面上)
            const visibleCookies = [
                "friend_code",
                "card_number",
                "card_version",
                "friend_name",
            ];

            // 需要检查的 Cookie 键值对 (这些 Cookie 都需要存在，但不是全部显示)
            const requiredCookies = [
                "timestamp",
                "MAID",
                "df_username_switch",

                "friend",
                "friend_name",
                "friend_code",
                "dxpass_type",
                "dxpass_bg",
                "card_number",
                "card_version",
            ];

            // 检查所有必需的 Cookie 是否存在
            let allCookiesExist = true;
            for (const key of requiredCookies) {
                if (getCookie(key) === null) {
                    allCookiesExist = false;
                    break;
                }
            }

            if (!allCookiesExist) {
                // 缺少必需的 Cookie，跳转到 cookie_error 页面
                window.location.href = "/cookie_error";
            } else {
                // 获取 MAID
                const maid = getCookie("MAID");
                if (!maid) {
                    window.location.href = "/qr_expired";
                } else {
                    // 获取存储的时间戳
                    const timestamp = parseInt(getCookie("timestamp"));

                        const date = new Date(timestamp * 1000);
                        const formattedTime = `${date.getFullYear()}/${(
                            date.getMonth() + 1
                        )
                            .toString()
                            .padStart(2, "0")}/${date
                            .getDate()
                            .toString()
                            .padStart(2, "0")}`;
                        document.getElementById("formatted-time").innerText =
                            formattedTime;

                        // 生成二维码
                        new QRCode(document.getElementById("qrcode"), {
                            text: maid,
                            width: 98,
                            height: 98,
                            correctLevel: QRCode.CorrectLevel.L,
                            version: 3,
                        });

                        // 获取 friend cookie 来修改角色图片路径
                        const friend = getCookie("friend");
                        if (friend) {
                            const charaImg =
                                document.getElementById("chara-img");
                            charaImg.src = `static/chara/${friend}.png`; // 使用 friend cookie 的值来设置图片路径
                        }

                        // 显示仅需要显示的 Cookie 的值到对应的 div
                        visibleCookies.forEach((cookie) => {
                            const cookieValue = getCookie(cookie);
                            const element = document.getElementById(cookie);

                            if (cookieValue) {
                                element.innerHTML = `${cookieValue}`;
                            } else {
                                element.innerHTML = `${cookie}: 未找到值`;
                            }
                        });

                        // 获取并显示新的 friend_name (如果有)
                        const newFriendNameValue = getCookie("friend_name");
                        if (newFriendNameValue) {
                            // 如果 new_friend_name 存在，则将其填充到页面中的 #new_friend_name 元素
                            document.getElementById("friend_name").innerText =
                                decodeURIComponent(newFriendNameValue);
                        } else {
                            // 如果找不到 new_friend_name，则提示用户未找到该值
                            document.getElementById("friend_name").innerText =
                                "friend_name: 未找到值";
                        }

                        // 获取 dxpass_type cookie 的值
                        const dxpassType = getCookie("dxpass_type");

                        // 如果 dxpass_type 存在，则修改 header 图片的路径
                        if (dxpassType) {
                            const headerImage =
                                document.querySelector('img[alt="header"]');
                            if (headerImage) {
                                headerImage.src = `static/header/${dxpassType}.png`; // 使用 dxpass_type 的值来更新图片路径
                            }
                        }

                        // 获取 dxpass_bg cookie 的值
                        const dxpassBg = getCookie("dxpass_bg");

                        // 如果 dxpass_bg 存在，则修改 bg 图片的路径
                        if (dxpassType) {
                            const bgImage =
                                document.querySelector('img[alt="bg"]');
                            if (bgImage) {
                                bgImage.src = `static/bg/${dxpassBg}.png`; // 使用 dxpass_bg 的值来更新图片路径
                            }
                        }

                        // card_number 加入间隔
                        const cardNumberElement =
                            document.getElementById("card_number");
                        const cardNumber = cardNumberElement.textContent;
                        const formattedCardNumber = cardNumber.replace(
                            /(.{4})/g,
                            "$1 "
                        );
                        cardNumberElement.textContent =
                            formattedCardNumber.trim();

                        // rating 边框
                        let rating = "获取中..."; // 定义 rating 变量

                        async function getPlayerData(username) {
                            const url =
                                "https://diving-fish.mikoto.zip/api/maimaidxprober/query/player";

                            const data = {
                                b50: true,
                                username: username,
                            };

                            try {
                                const response = await fetch(url, {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify(data),
                                });

                                if (response.ok) {
                                    const result = await response.json();
                                    rating = result.rating || "N/A"; // 更新 rating 变量
                                    const nickname = result.nickname || "N/A";
                                    document.getElementById(
                                        "rating"
                                    ).textContent = rating;
                                    document.getElementById(
                                        "nickname"
                                    ).textContent = nickname;
                                    updateRatingImage(rating); // 更新图片
                                } else {
                                    console.error("获取玩家数据失败");
                                    document.getElementById(
                                        "rating"
                                    ).textContent = "Error";
                                    document.getElementById(
                                        "nickname"
                                    ).textContent = "Error";
                                }
                            } catch (error) {
                                console.error("错误:", error);
                                document.getElementById("rating").textContent =
                                    "发生错误";
                                document.getElementById(
                                    "nickname"
                                ).textContent = "发生错误";
                            }
                        }

                        function getCookie(name) {
                            const match = document.cookie.match(
                                new RegExp("(^| )" + name + "=([^;]+)")
                            );
                            return match ? match[2] : null;
                        }

                        function updateRatingImage(rating) {
                            let imageIndex;
                            if (rating < 1000) imageIndex = 1;
                            else if (rating < 2000) imageIndex = 2;
                            else if (rating < 4000) imageIndex = 3;
                            else if (rating < 7000) imageIndex = 4;
                            else if (rating < 10000) imageIndex = 5;
                            else if (rating < 12000) imageIndex = 6;
                            else if (rating < 13000) imageIndex = 7;
                            else if (rating < 14000) imageIndex = 8;
                            else if (rating < 14500) imageIndex = 9;
                            else if (rating < 15000) imageIndex = 10;
                            else imageIndex = 11;

                            const ratingImage =
                                document.getElementById("ratingImage");
                            ratingImage.src = `static/rating/${imageIndex}.png`;
                            ratingImage.style.display = "block"; // 显示图片
                        }

                        function initialize() {
                            const dfUsernameSwitch =
                                getCookie("df_username_switch");

                            if (dfUsernameSwitch === "0") {
                                const name = getCookie("name");
                                rating = getCookie("rating") || "未知"; // 使用 cookie 中的 rating
                                document.getElementById(
                                    "nickname"
                                ).textContent = name || "未知";
                                document.getElementById("rating").textContent =
                                    rating;
                                updateRatingImage(rating); // 更新图片
                            } else if (dfUsernameSwitch === "1") {
                                const dfUsername = getCookie("df_username");
                                if (dfUsername) {
                                    getPlayerData(dfUsername);
                                } else {
                                    document.getElementById(
                                        "nickname"
                                    ).textContent = "Error";
                                    document.getElementById(
                                        "rating"
                                    ).textContent = "Error";
                                }
                            } else {
                                document.getElementById(
                                    "nickname"
                                ).textContent = "未设置df_username_switch";
                                document.getElementById("rating").textContent =
                                    "未设置df_username_switch";
                            }
                        }
                        initialize();
                }
            }
            window.onload = function () {
                var dxPass = document.getElementById("DX_Pass");

                // 获取屏幕的宽高
                var screenWidth = window.innerWidth;
                var screenHeight = window.innerHeight;

                // 目标宽高 (原始尺寸)
                var targetWidth = 770;
                var targetHeight = 1054;

                // 计算缩放比例，保持内容比例，确保内容完整显示
                var scale = Math.min(
                    screenWidth / targetWidth,
                    screenHeight / targetHeight
                );

                // 应用缩放到容器
                dxPass.style.transform = "scale(" + scale + ")";
                dxPass.style.transformOrigin = "top left";

                // 确保容器不被缩放，而是让里面的内容适应屏幕大小
                dxPass.style.width = targetWidth + "px";
                dxPass.style.height = targetHeight + "px";

                // 防止内容溢出导致滚动条
                document.body.style.overflow = "hidden";
            };
        </script>
    </body>
</html>
